/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 50px;
}

h1 {
  text-align: center;
  color: #5d5c61;
}

p {
  text-align: center;
  font-size: 1.1em;
}

nav {
  text-align: center;
  margin-top: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #6c757d;
  font-weight: bold;
}

nav ul li a:hover {
  color: #007bff;
}


@media (max-width: 768px) {
  .container {
      width: 95%;
  }

  nav ul li {
      display: block;
      margin: 10px 0;
  }
}
